<main class="container curriculum">
  <div class="curriculum__left">
    <div class="mb-3">
      <label class="form-label">Escolaridade <span class="curriculum__icon">+</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Habilidades <span class="curriculum__icon">+</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Idiomas <span class="curriculum__icon">+</span></label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="curriculum__right">
    <div class="mb-3">
      <label class="form-label">Experiência <span class="curriculum__icon">+</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Certificado <span class="curriculum__icon">+</span></label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="text-center curriculum__button">
    <button class="btn btn-danger">Salvar alterações</button>
  </div>
</main>
