.register-form {
  width: 100%;
  max-width: 450px;
  background-color: #920E0E;
  color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 10% auto 20px;
}

.button-center{
  display: flex;
  justify-content: center;
}
