<main class="container">
  <section class="login">
    <div class="login_brand">
      <img src="/assets/images/logo.png" alt="logo Worksy">
    </div>

    <div class="login_form">
      <form>
        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" class="form-control" placeholder="********">
        </div>
        <div class="mb-3">
          <a href="/recuperar-senha" class="forgot-password text-right">Esqueceu a senha?</a>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-light" type="button" routerLink="/perfil">Entrar</button>
        </div>
      </form>
    </div>
  </section>
</main>
