<main class="home container">
  <section class="home_intro">
    <p class="home_text">A Worksy é uma plataforma para você que procura ingressar no mercado de trabalho, mas não sabe por onde começar.</p>
    <p class="home_text">Deixa toda a papelada com a gente!</p>
  </section>
  <section class="home_register">
    <img src="/assets/images/logo.png" alt="logo Worksy" class="home_brand">
    <p class="home_text">Ainda não tem conta na Worksy?</p>
    <a href="/cadastro" class="btn btn-danger home_link">Criar uma conta</a>
  </section>
</main>
